@import "../../app.component.scss";

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }

.toolbar{
    background-color: $color-secondary;
    color: $primary-text-color;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
    &-companyName{
      font-weight: 500;
    }
    &-search{
      cursor: pointer;
   
    }
}
.search_bar{
  // margin-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  position: fixed;
  background-color: white;
  z-index: 2;
}
.search_bar--input{
  border-radius: 12%;
}
.filter{
  color: $primary-text-color;
  &:hover{
    color: $color-territory;
  }
  
  }
  .content{
    padding-top: 3.2rem;}

.print_btn{

  position: fixed;
  padding: 8px;
  top: 12px;
  right: 12px;
  background-color: burlywood;
  color: blue;
}