// Body Color
$primary-body-color:#f5f7f5;
$secondary-bodoy-color:#fff;


// btn
$primary-btn-color:rgb(29, 29, 29);
$primary-btn-text-color:#fff;
$territory-btn-color:rgb(187, 185, 185);

$color-primary:	#FF7F50;
$color-primary-light: #FC8A51;
$color-secondary:white;
$color-territory:gray;
$color-white-light: #FDFDFD;
$primary-text-color:#2e109c;
$color-light-grey:rgba(128, 128, 128, 0.418);
$heading-underline:rgba(255, 208, 0, 0.582)
