$color-primary:	#FF7F50;
$color-primary-light: #FC8A51;
$color-secondary:white;
$color-territory:gray;
$color-white-light: #FDFDFD;
$primary-text-color:#2e109c;
$color-light-grey:rgba(128, 128, 128, 0.418);
$heading-underline:rgba(255, 208, 0, 0.582)
