@import "../../app.component.scss";
// * {
//     padding: 0%;
//     margin: 0%;
//     box-sizing: border-box;
//   }
//   .add-btn{
//       border: 1px solid $color-primary;
//       color: $color-primary;
//       border-radius: 2rem;
//       z-index: 0;
//       &:hover{
//           background-color: $color-primary;
//           color: white;
//       }
//   }

// .section{
//     margin-left: 3%;
//     margin-right: 3%;
//     &--heading{
//         margin-top: 1%;
//     }
//     &--textbox{
//         border-bottom: 4px solid $heading-underline ;
//     }
// }
// .row{
//     display: flex;
//     margin-top: 3%;
//     width: 100%!important;
//     overflow-x:auto ;
//     -ms-overflow-style: none; 
//     scrollbar-width: none;  
//     &::-webkit-scrollbar {
//         display: none;
//       }
// }
// .column{
//     margin-right: 2%;
//     min-width:20vw;
//     max-width:20vw;
//     height: 32vh;
//     box-sizing: border-box;

//     // border:1px solid black;
//     border-radius: 2rem;
// }
// .column__img{
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 100%;
//     border-radius: 2rem;
// }
// .food_list{
//     width: 100%;
//     margin-top: 2%;padding-bottom: 2%;
//     border-bottom: 1px solid $color-light-grey;
// &:after {
//     content: "";
//     display: table;
//     clear: both;
//   }
// }
// .food_list--img{
//     float: left;
//     width: 20%;
// }
// .food_list--info{
//     float: left;
//     width: 80%;
// }
// .img-box{
//     height: 12vh;
//     width: 10vw;
//     background-repeat: no-repeat;
//     background-size: cover;
//     border-radius: 1rem;
// }
// @media only screen and (max-width: 1024px) {

// .row{
//     margin-top: 6%;
//     margin-bottom: 5%;
// }
// .column{
//     min-width:93vw;
//     max-width: 93vw;
//     height: 35vh;
// }
// .food_list{
//     margin-top: 8%;
// }
// .food_list--img{
//     width: 30%;
// }
// .food_list--info{
//     width: 70%;
// }
// .img-box{
//     height: 8vh;
//     width: 15vw;
//     background-repeat: no-repeat;
//     background-size: cover;
// }
// }

.banner {

  &_section {
    padding: 1rem;
    &--heading {
      font-weight: 600;
    }
    &--tracker{
        display: flex;
        width: 100%;
        padding-top: 0.5rem;
        justify-content: space-between;
        &-item{
            background-color: rgba(128, 128, 128, 0.418);
            height: 0.25rem;
            width: 100%;
            margin: 0rem 0.3rem 0rem 0.3rem;
            cursor: pointer;
            transition: all 0.5s;
        }
    }
  }
  &_carousel{
    width: 100%;
    max-width: 100%;
    height: 35vh;
    padding-top: 1rem;
    position: relative;
    overflow: hidden;
    &--item{
        background: linear-gradient(90deg, rgba(147,164,254,1) 0%, rgba(252,130,155,1) 100%);
        // height: 100%;
        max-height: 35vh;
        width: 100%;
        border-radius: 2rem;
        position: absolute;
        right: -105%;
        transition: all 0.5s;
        
    }
    &--img{
        position: absolute;
        top: -1rem;
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: center;
    }
    &--content{
        display: flex;
        width: 100%;
        padding-top: 20vh;
        height: 12vh;
        &-title{
            display: flex;
            justify-content: flex-start;      
            align-items: center;
            padding-left: 1rem;
            width: 70%;
            font-weight: 700;
        }
        &-pricebtn{
            display: flex;
            justify-content: center;      
            align-items: center;
            width: 30%;
            padding-left: 1rem;
            padding-right: 1rem;
            button{
                background-color: $primary-btn-color;
                color: $primary-btn-text-color;
                border: none;
                border-radius: 1rem;
                width: 100%;
            }
        }
    }
  }
}
.active_tracker{
background-color: black;
}