<!-- <section class="section">
  <header class="section--heading nerko--wtbold font-xlarge">
    <span class="section--textbox">Hits of the Week</span>
    <div class="row">
      <div class="column" *ngFor="let banner of banners">
        <div class="column__img" [ngStyle]="{'background-image': 'url(' + banner.url + ')'}">
          <h2>{{banner?.name}}</h2>
          <p>Some text..</p>
        </div>

      </div>

    </div>
  </header>
</section>
<section class="section">
  <header class="section--heading nerko--wtbold font-xlarge">
    <span class="section--textbox">Our Menu</span>
  </header>
  <div class="food_list" *ngFor="let food of foods">
    <div class="food_list--img">
      <div class="img-box" [ngStyle]="{'background-image': 'url(' + food.url + ')'}">

      </div>
    </div>
    <div class="food_list--info">
      <div style="display: flex;" class="full-width">
        <div class="block roboto--wt300 full-width">
          X 1
        </div>
        <div class=" full-width right-aligned">
          <button mat-button class="add-btn">+ Add</button>
        </div>
      </div>

      <div style="display: flex;" class="full-width margin_top--1rem margin_btm--1rem font-large ">
        <div class="font-large  nerko--wtbold full-width"> {{food?.name}} </div>
        <div class="right-aligned roboto--wtbold full-width">&#8377;{{food?.price}}</div>
      </div>

    </div>
  </div>
</section> -->

<section class="main-content">
  <section class="banner_section">
    <h1 class="banner_section--heading">Hits of the Week</h1>
    <div class="banner_carousel" (swipeleft)="onBannerSwipeLeft($event)" (swiperight)="onBannerSwipeRight($event)">
      <!-- <div class="banner_carousel--item banner-active" >
        <section class="banner_carousel--img">
          <img [src]="banners[0].url">
        </section>
        <section class="banner_carousel--content">
          <div class="banner_carousel--content-title">{{banners[0]?.name}}</div>
          <div class="banner_carousel--content-pricebtn"><button mat-button class="roboto">$ 22.40</button></div>
        </section>
      </div> -->
      <div class="banner_carousel--item banner-inactive" *ngFor="let banner of banners;let i = index" id="{{'banner-'+i}}" [data-image-index]="i">
        <section class="banner_carousel--img" >
          <img [src]="banner.url">
        </section>
        <section class="banner_carousel--content">
          <div class="banner_carousel--content-title">{{banner?.name}}</div>
          <div class="banner_carousel--content-pricebtn"><button mat-button class="roboto">$ 22.40</button></div>
        </section>
      </div>
    </div>
    <section class="banner_section--tracker">
      <div *ngFor="let banner of banners;let slide_tracker=index;" id="{{'banner-'+slide_tracker+'-tracker'}}" class="banner_section--tracker-item"></div>
    </section>
  </section>
</section>